/* 50px + 5px           el height
   5 * (40 + 5) = 225px  menu height
*/

body {
    overflow: hidden;
}

.clearfix {
    clear: none;
}
#display {
    width: 1280px;
    height: 720px;
    font-family: 'Cuprum', sans-serif;
    background-image: url(http://br.web.img3.acsta.net/r_640_600/b_1_d6d6d6/medias/nmedia/18/67/28/68/19030622.jpg);
    background-size: 100%;
}
#quick-settings {
    width: 500px;
    margin: 50px auto;
    position: relative;
    color: #d1d1d1;
    display: none;
}
#quick-settings.visible {
    display: block !important;
}

#quick-settings header {
    text-align: center;
    background-color: rgba(48, 86, 122, 0.5);
}
#quick-settings .tip {
    background-color: rgba(48, 86, 122, 0.7);
}

.menu-container {
    margin: 10px 0;
    overflow: hidden;
    height: 225px;
    width: 500px;
    position: relative;
}

ul{
    margin: 0;
    padding: 0;
}
ul.activate-menu-transition,
li .options .subitems-container.activate-sub-menu-transition {
    transition: 0.1s all;
}

li{
    display: block;
    height: 40px;
    margin: 5px 0;
    background-color: rgba(48, 86, 122, 1);
}

li .options {
    height: 30px;
    line-height: 30px;
    width: 100px;
    float: right;
    position: relative;
    margin-top: 5px;
    margin-right: 27px;
    background: none;
    color: #d1d1d1;
    overflow: hidden;
}

li .options .subitems-container {
    width: 9999%;
    position: absolute;
}
li .options .subitem {
    float: left;
    width: 100px;
    text-align:center;
}

.el.list .arrow {
    display: none;
}
.el.active.list .arrow {
    display: block;
}
.el.active.list .options {
    display: block;
    background: #d7d44f;
    color: #000;
}

.el{
    width: 100%;
    height: 100%;

    font-size: 20px;
    line-height: 40px;

    padding-left: 20px;
}
.el.active{
    background: #d7d44f;
    color: #000;
    line-height: 34px;
    border: 3px solid #499183;
}
.el.active.list {
    background: #499183 !important;
    border: none;
    line-height: 38px;
    position: relative;
}

.activator{
    position: absolute;
    width: 40px;
    height: 74px;
    z-index: 99;
    top: 78px;
}

.arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
}

.arrow.top-arrow {
    position: absolute;
    border-width: 0 12px 17px 12px;
    border-color: transparent transparent #d7d44f transparent;
}
.arrow.top-arrow-inside {
    position: absolute;
    margin: 3px 0px 0px -8px;
    border-width: 0 8px 12px 8px;
    border-color: transparent transparent #499183 transparent;
}

.arrow.bottom-arrow {
    position: absolute;
    border-width: 17px 12px 0 12px;
    border-color: #d7d44f transparent transparent transparent;
}
.arrow.bottom-arrow-inside {
    position: absolute;
    margin: -15px 0px 0px -8px;
    border-width: 12px 8px 0 8px;
    border-color: #499183 transparent transparent transparent;
}

.arrow.left-arrow {
    position: absolute;
    border-width: 12px 17px 12px 0;
    border-color: transparent #d7d44f transparent transparent;
}
.arrow.left-arrow-inside {
    position: absolute;
    margin: -8px 0px 0px 3px;
    border-width: 8px 12px 8px 0;
    border-color: transparent #499183 transparent transparent;
}

.arrow.right-arrow {
    position: absolute;
    border-width: 12px 0 12px 17px;
    border-color: transparent transparent transparent #d7d44f;
}
.arrow.right-arrow-inside {
    position: absolute;
    margin: -8px 0px 0px -15px;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #499183;
}



.activator .top-arrow {
}
.activator .bottom-arrow {
    bottom:0;
}
.el.list .left-arrow {
    top: 8px;
    right: 129px;
}
.el.list .right-arrow {
    top: 8px;
    right: 8px;
}

footer{
    background-color: rgba(48, 86, 122, 0.5);
    font-size: 18px;
}
footer .more {
    display: inline-block;
    margin-left: 20px;
}
footer .return {
    display: inline-block;
    float: right;
    margin-right: 20px;
}
footer .icon {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    font-size: 17px;
    height: 20px;
    line-height: 18px;
    padding: 0 8px;
}


#controls {
    margin-top: 0px;
    text-align: center
}
#controls span {
    display: inline-block;
    width: 80px;
}

span{
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    background: red;
}