<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/libs/jquery-1.10.1.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
    <script src="js/libs/handlebars-v1.3.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/libs/localstorage_adapter.js"></script>
    <script src="js/menu_items.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
<script type="text/x-handlebars">
    <div id='display'>

        <div class="clearfix"></div>

        <div id='quick-settings' {{bind-attr class="visible"}}>
        <header>
            <h1>Quick Settings</h1>
            <div class="tip">Highlight an option, then press SELECT</div>
        </header>

        <div class='menu-container'>

            <ul {{bind-attr style="ulStyle" class="activateMenuTransition"}}>
            {{#each controller}}

                <li>
                    <div {{bind-attr class=":el active type"}}>

                        {{title}}

                        {{#if activeValue }}
                        <div class='left-arrow arrow'>
                            <div class='left-arrow-inside arrow'></div>
                        </div>
                        {{/if }}

                        <div class="options">
                            <div {{bind-attr style="subitemsStyle" class=":subitems-container className activateSubMenuTransition"}}>
                                <div class="subitem">{{lastOption}}</div>
                                {{#each option in options}}
                                    <div class="subitem">{{option}}</div>
                                {{/each}}
                                <div class="subitem">{{firstOption}}</div>
                            </div>
                        </div>

                        {{#if activeValue }}
                        <div class='right-arrow arrow'>
                            <div class='right-arrow-inside arrow'></div>
                        </div>
                        {{/if }}

                    </div>
                </li>

            {{/each}}
            </ul>

            <div class='activator'>
                <div class='top-arrow arrow'>
                    <div class='top-arrow-inside arrow'></div>
                </div>
                <div class='bottom-arrow arrow'>
                    <div class='bottom-arrow-inside arrow'></div>
                </div>
            </div>

        </div>

        <footer>
            <div class='more'>
                <div class='icon'>SET</div>
                More Settings
            </div>
            <div class='return'>
                <div class='icon'>EXIT</div>
                Return to TV
            </div>
        </footer>

        </div>

        <div id='controls'>
            <span {{action 'esc'}}>esc</span>
            <br/>
            <span {{action 'top'}}>top</span>
            <br/>
            <span {{action 'left'}}>left</span>
            <span {{action 'ok'}}>ok</span>
            <span {{action 'right'}}>right</span>
            <br/>
            <span {{action 'bottom'}}>bottom</span>
            <br/>
            <span {{action 'settings'}}>settings</span>
        </div>
    </div>
</script>


</body>
</html>